absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
basedosdados==1.3.0a3
bcc==0.18.0
beautifulsoup4==4.11.1
better-exceptions==0.3.3
bleach==5.0.1
blinker==1.4
Brlapi==0.8.3
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.4
cairocffi==1.4.0
certifi==2022.9.24
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
chrome-gnome-shell==0.0.0
click==7.1.2
cloudscraper==1.2.56
colorama==0.4.4
command-not-found==0.3
contourpy==1.0.5
cryptography==3.4.8
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
discord==2.3.1
discord.py==2.3.1
distlib==0.3.6
distro==1.7.0
docopt==0.6.2
entrypoints==0.4
executing==1.1.1
fastjsonschema==2.16.2
filelock==3.8.0
flatbuffers==23.5.26
fonttools==4.38.0
frozenlist==1.3.3
gast==0.4.0
google-api-core==1.33.2
google-auth==1.35.0
google-auth-oauthlib==0.5.3
google-cloud-bigquery==1.28.0
google-cloud-bigquery-storage==1.1.0
google-cloud-core==1.7.3
google-cloud-storage==1.31.2
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==1.3.3
googleapis-common-protos==1.56.4
greenlet==1.1.2
grpcio==1.50.0
grpcio-status==1.48.2
gyp==0.1
h5py==3.9.0
hidpidaemon==18.4.6
httplib2==0.20.2
idna==3.4
imageio==2.31.1
importlib-metadata==4.6.4
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
iterfzf==0.5.0.20.0
jax==0.4.13
jedi==0.18.1
jeepney==0.7.1
Jinja2==2.11.2
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.21.0
jupyter_client==7.4.3
jupyter_core==4.11.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.12.0
kernelstub==3.1.4
keyring==23.5.0
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.2
libclang==16.0.0
louis==3.20.0
lxml==4.6.3
macaroonbakery==1.3.1
manga-py==1.29.1
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.6.1
matplotlib-inline==0.1.6
mistune==2.0.4
ml-dtypes==0.2.0
more-itertools==8.10.0
msgpack==1.0.3
multidict==6.0.4
mutagen==1.45.1
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.2
nbformat==5.7.0
nest-asyncio==1.5.6
netaddr==0.8.0
netifaces==0.11.0
networkx==3.1
nodeenv==1.7.0
notebook==6.5.1
notebook_shim==0.2.0
numpy==1.23.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cudnn-cu11==8.9.2.26
oauthlib==3.2.0
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
pandas==1.5.0
pandas-gbq==0.13.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==2.5.2
plumbum==1.7.0
pop-transition==1.1.2
progressbar2==3.53.1
prometheus-client==0.15.0
prompt-toolkit==3.0.31
protobuf==3.20.3
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.21
pycryptodome==3.10.1
pycryptodomex==3.11.0
pycups==2.0.1
pydata-google-auth==1.4.0
pydbus==0.6.0
PyExecJS==1.5.1
pyfzf==0.2.2
Pygments==2.13.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.4.2
pyparsing==2.4.7
pyRFC3339==1.1
pyright==1.1.273
pyrsistent==0.18.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-gnupg==0.4.8
python-utils==2.5.6
python-xlib==0.29
pytz==2022.4
PyWavelets==1.4.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==24.0.1
qtconsole==5.3.2
qtile==0.22.1
QtPy==2.2.1
ranger-fm==1.9.3
repolib==2.2.1
repoman==1.4.0
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.9
scikit-image==0.21.0
scipy==1.10.1
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
Send2Trash==1.8.0
sessioninstaller==0.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.5.1
systemd-python==234
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.16.0
tifffile==2023.4.12
tinycss2==1.2.1
toml==0.10.2
tomlkit==0.7.0
tornado==6.2
tqdm==4.50.2
traitlets==5.5.0
typing_extensions==4.6.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ueberzug==18.1.9
ufw==0.36.1
urllib3==1.26.12
virtualenv==20.16.5
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
websockets==9.1
Werkzeug==2.3.6
widgetsnbextension==4.0.3
wrapt==1.14.1
xcffib==0.12.0
xdg==5
xkit==0.0.0
yarl==1.9.2
youtube-dl==2021.12.17
yt-dlp==2022.4.8
zipp==1.0.0
